body{
background-image:url(energylandia2.jpg);
color:darkblue;
background-repeat: no-repeat;
            color:black;
            margin: 0;
            display: flex;
            justify-content: center;
            line-height: 1cm;
          
            height: 94vh;

}

header{
    font-size: 50px;
    text-align: center;
    text-decoration-color:red ;
}
form{
    background-color:lightblue  ;
    margin:10px 0;
    text-align: center;
    font-size: 30px;
    border:  solid red;
    border-radius:10px;
    padding: 0px;
  

}
input{
width: 160px;
border-radius: 10px;
background:transparent;



}
select{
font-size:15px;
width: 140px;
border-radius:10px;
  


}
label{
    text-align: center;
    display: block;
    margin-bottom: 0px;
}


  
